<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Homepage</title>
    </h:head>
    <h:body>
        <h1>Navigation</h1>
        <h:outputLink value="admin/index.xhtml">Admin login</h:outputLink>
        <h:outputLink value="user/index.xhtml">User login</h:outputLink>
    </h:body>
</html>

