<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add User
                </div>
            </div>
            <div>
            <div>
		<table>
		<tr>
			<td>
				Navigation: 
				<h:link value="Menue | " outcome="index.xhtml"></h:link>               	
				<h:link value="View Customers | " outcome="view.xhtml"></h:link>
				<h:link value="View Contacts | " outcome="viewContact.xhtml"></h:link>  
				   
				 <h:link value="Add Customer | " outcome="createCustomer.xhtml"></h:link>
				 <h:link value="Add Contact | " outcome="createContact.xhtml"></h:link>
				 <h:link value="Manage User | " outcome="manageUser.xhtml"></h:link>
				 <h:link value="Manage Industry | " outcome="manageIndustry.xhtml"></h:link>
				 <h:link value="Change Password" outcome="changePassWd.xhtml"></h:link>
				       	
			</td>
		</tr>
		</table>
		</div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
                
      

                    <tr class="#{!userName.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="userName" for="userName" />
                        </td>
                        <td>
                            <h:inputText id="userName" value="#{user.userName}" title="userName" required="true" requiredMessage="Please enter the user name!" pt:placeholder="user"/>
                            <br/>
                            <h:message for="userName" class="#{!userName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!passwd.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="passwd" for="passwd" />
                        </td>
                        <td>
                            <h:inputText id="passWd" value="#{user.passwd}" title="street" required="true" requiredMessage="Please enter the initial passWd!" pt:placeholder="passWd"/>
                        	<br/>
                            <h:message for="passWd" class="#{!passWd.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!groups.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="groups" for="groups"/>
                        </td>
                        <td>
                            <h:inputText id="group" value="#{user.groups}" title="group"  required="true" requiredMessage="Please enter the group!" pt:placeholder="user/admin">
                            <br/>
                            <f:validator validatorId="com.validate.test.groupValidator" />
                            </h:inputText>
                            <h:message for="group" class="#{!groups.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                 
              
                    
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{manageUser.addUser(user)}" class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="manageUser.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>

