<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Customer
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
             
                    <tr class="#{!country.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="country" for="country" />
                        </td>
                        <td>
                            <h:inputText id="country" value="#{customer.country}" title="country" required="true" requiredMessage="Please enter the country!" pt:placeholder="Australia">
                            <f:validator validatorId="com.validate.test.stringOnlyValidator" />
                            </h:inputText>
                            <br/>
                            <h:message for="country" class="#{!country.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!street.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="street" for="street" />
                        </td>
                        <td>
                            <h:inputText id="street" value="#{customer.street}" title="street" required="true" requiredMessage="Please enter the street!" pt:placeholder="BlackBurnRd"/>
                        	<br/>
                            <h:message for="street" class="#{!street.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!state.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="state" for="state"/>
                        </td>
                        <td>
                            <h:inputText id="state" value="#{customer.state}" title="state" size="3" required="true" requiredMessage="Please enter the state!" pt:placeholder="VIC">
                            <f:validator validatorId="com.validate.test.stringOnlyValidator" />
                            </h:inputText>
                            <br/>
                            <h:message for="state" class="#{!state.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!postcode.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="postcode" for="postcode" />
                        </td>
                        <td>
                            <h:inputText id="postcode" value="#{customer.postCode}" title="postcode" required="true" requiredMessage="Please enter the postcode!" validatorMessage="Please enter a postcode between 0200 and 4700" converterMessage="Please enter a number" pt:placeholder="3145">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="200" maximum="4700" /> 
							</h:inputText>
							<br/>
							<h:message for="postcode" class="#{!postcode.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>

                   <tr class="#{!companyName.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="companyName" for="companyName"/>
                        </td>
                        <td>
                            <h:inputText id="companyName" value="#{customer.companyName}" title="companyName" size="20" required="true" requiredMessage="Please enter the companyName!" pt:placeholder="Monash"/>
                            <br/>
                            <h:message for="companyName" class="#{!companyName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="industry" for="industry"/>
                        
                        <h:selectOneListbox value="#{customer.industry}" size="3" >
                                <f:selectItems value="#{customerApplication.getIndustryList()}" />
                                
                            </h:selectOneListbox>
                            </td>
                    
                    </tr>
                    
                    <tr class="#{!contactPhone.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="contactPhone" for="contactPhone" />
                        </td>
                        <td>
                            <h:inputText id="contactPhone" value="#{customer.contactPhone}" title="contactPhone" required="false" validatorMessage="Please enter valid contactPhone" converterMessage="Please enter a number" pt:placeholder="0406958427" requiredMessage="Please enter the contact phone!">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="0000000000" maximum="9999999999" /> 
							</h:inputText>
							<br/>
							<h:message for="contactPhone" class="#{!contactPhone.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!contactTitle.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="contactTitle" for="contactTitle"/>
                        </td>
                        <td>
                            <h:inputText id="contactTitle" value="#{customer.contactTitle}" title="contactTitle" size="20" required="false" pt:placeholder="Mr/Mrs/Miss/Doctor" requiredMessage="Please enter the contact title!" disabled="#{empty param['form:contactTitle']}">
                            
                            <f:validator validatorId="com.validate.test.titleValidator" />
                            </h:inputText>
                            <br/>
                            <h:message for="contactTitle" class="#{!contactTitle.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!contactFirstName.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="contactFirstName" for="contactFirstName"/>
                        </td>
                        <td>
                            <h:inputText id="contactFirstName" value="#{customer.contactFirstName}" title="contactFirstName" size="20" required="false" pt:placeholder="Shenyi" requiredMessage="Please enter the contact first Name!"/>
                            <br/>
                            <h:message for="contactFirstName" class="#{!contactFirstName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!contactLastName.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="contactLastName" for="contactLastName"/>
                        </td>
                        <td>
                            <h:inputText id="contactLastName" value="#{customer.contactLastName}" title="contactLastName" size="20" required="false" pt:placeholder="Zhang" requiredMessage="Please enter the contact last name!"/>
                            <br/>
                            <h:message for="contactLastName" class="#{!contactLastName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!contactEmail.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="contactEmail" for="contactEmail"/>
                        </td>
                        <td>
                            <h:inputText id="contactEmail" value="#{customer.contactEmail}" title="contactEmail" size="20" required="false" validatorMessage= "email format invalidate" pt:placeholder="szha0177@student.monash.edu" requiredMessage="Please enter the contact email!">
                            <f:validateRegex pattern="^([a-zA-Z]+[a-zA-Z\s\-]*){0,255}$" />
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
                            </h:inputText>
                            <br/>
                            <h:message for="contactEmail" class="#{!contactEmail.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
              
                    
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addCustomer.addCustomer(customer)}" class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="view.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>

