<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Administration Area</title>
    </h:head>
    <h:body>
        <h1>Administration Area</h1>
        <p>Welcome to the secured Admin area.</p>
        <table class="table table-bordered table-striped"> 
              <tr>
				<td>
					<a href="view.xhtml">View all Customer</a>
				</td>
				
			   </tr>
			   <tr>
			   <td>
					<a href="viewContact.xhtml">View all Contacts</a>
				</td>
			   </tr>
				<tr>
				   <td>
					<a href="createCustomer.xhtml">Add Customer</a>
					</td>
				</tr>
				<tr>
				   <td>
					<a href="createContact.xhtml">Add Contact</a>
					</td>
				</tr>
				<tr>
				   <td>
					<a href="changePassWd.xhtml">change password</a>
					</td>
				</tr>
				<tr>
				   <td>
					<a href="manageUser.xhtml">Manage Users</a>
					</td>
				</tr>
				<tr>
				   <td>
					<a href="addUser.xhtml">Add Users</a>
					</td>
				</tr>
				<tr>
				   <td>
					<a href="manageIndustry.xhtml">Manage Industry</a>
					</td>
				</tr>
        </table>

    </h:body>
</html>

