<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<h:head></h:head> 
<h:body> 
<div>
		<table>
		<tr>
			<td>
				Navigation: 
				<h:link value="Menue | " outcome="index.xhtml"></h:link>               	
				<h:link value="View Customers | " outcome="view.xhtml"></h:link>
				<h:link value="View Contacts | " outcome="viewContact.xhtml"></h:link>  
				   
				 <h:link value="Add Customer | " outcome="createCustomer.xhtml"></h:link>
				 <h:link value="Add Contact | " outcome="createContact.xhtml"></h:link>
				<h:link value="Add User | " outcome="addUser.xhtml"></h:link>      
				<h:link value="Change Password" outcome="changePassWd.xhtml"></h:link>  	
			</td>
		</tr>
		</table>
		</div>
<h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="userId" value="userId"  />
                            </td>
                            <td> 
                                <h:outputLabel id="userName" value="userName"  />
                            </td>
                            <td> 
                                <h:outputLabel id="managing" value="managedCustomers"  />
                            </td>
          
                            
                     </tr>
                    
                    <ui:repeat id="Myrepeat" value="#{customerApplication.users}"  var="customer" varStatus="status"> 
                        
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent"> 
                            <td>
                                <h:outputText value="#{customerApplication.users.get(status.index).userId}" id="userId" /> 
                                
                            </td>
                            
                            <td> 
                                <h:outputText id="userName" value="#{customerApplication.users.get(status.index).userName}"  />
                            </td>
                        	<td>
                        		<h:outputText id="managedCustomers" value="#{customerApplication.users.get(status.index).getManagedCustomers()}"  />
                        	</td>
                     			
                            <td>
                   
             
                                <h:commandLink value="Delete" action="#{manageUser.deleteUser(customerApplication.users.get(status.index).userId)}" >
                                </h:commandLink>
                                    
                                <h:outputText value=" "/>
                            </td>
                        
                            
                        </tr> 

                    </ui:repeat> 

                </table>
                
                <div>
                	<table>
                		<tr>
                			<td>
                				<b>
                					Allocate Customer
                				</b>
                			</td>
                			<td>
                				
                			</td>
                		</tr>
                		<tr>
                			<td>
                				User Name:
                			</td>
                			<td>
                				<h:selectOneListbox value="#{allocate.userName}" size="3" >
                                <f:selectItems value="#{customerApplication.getUserSelect()}" />
                                
                            </h:selectOneListbox>
                			</td>
                		</tr>
                		
                		<tr>
                			<td>
                				Customer Name:
                			</td>
                			<td>
                				<h:selectOneListbox value="#{allocate.cusName}" size="3" >
                                <f:selectItems value="#{customerApplication.getCustomerSelect()}" />
                                
                            </h:selectOneListbox>
                			</td>
                		</tr>
                		
                		<tr>
                			<td>
                				<h:commandLink value="Allocate" action="#{allocate.allocateCustomer(allocate.userName,allocate.cusName)}" >
                                </h:commandLink>
                			</td>
                		</tr>
                		
                	</table>
                </div>
                </h:form>

</h:body> 
</html>
