<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer  List
                </div>
            </div>
		<div>
		<table>
		<tr>
			<td>
				Navigation: 
				<h:link value="Menue | " outcome="index.xhtml"></h:link>               	

				<h:link value="View Customers | " outcome="view.xhtml"></h:link>
				<h:link value="View Contacts | " outcome="viewContact.xhtml"></h:link>
				<h:link value="Add Customers | " outcome="createCustomer.xhtml"></h:link>
				<h:link value="Add Contacts | " outcome="createContact.xhtml"></h:link>
				<h:link value="Add User | " outcome="addUser.xhtml"></h:link>
				   
				<h:link value="Manage User | " outcome="manageUser.xhtml"></h:link>    
				<h:link value="Change Password" outcome="changePassWd.xhtml"></h:link>        	
			</td>
		</tr>
		</table>
		</div>
		
		
            <h:form id="MyForm">
            
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="industryId" value="indusId"  />
                            </td>
                            <td> 
                                <h:outputLabel id="IndustryName" value="IndusName"  />
                            </td>
        
                            
                     </tr>
                    
                    <ui:repeat id="Myrepeat" value="#{customerApplication.industries}"  var="indus" varStatus="status"> 
                        
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent"> 
                            <td>
                                <h:outputText value="#{customerApplication.industries.get(status.index).insId}" id="insId" /> 
                                
                            </td>
                            
                            <td> 
                                <h:outputText id="indusName" value="#{customerApplication.industries.get(status.index).industryName}"  />
                            </td>
                            
                            <td>
                                
                                
                                <h:commandLink value="Delete " action="#{edit.removeIndustry(customerApplication.industries.get(status.index).insId)}" >
                                </h:commandLink>
                                    
                                <h:outputText value=" "/>
                            </td>
                          
                            
                        </tr> 

                    </ui:repeat> 
                    

                </table>
                
                <div>
                    <h:commandButton id="add" value="Add" action="addIndustry.xhtml" class="btn btn-primary" />
                
          
                </div>
               
                
            </h:form>
        </div>
    </h:body>
</html>

