<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer  List
                </div>
            </div>
		<div>
		<table>
		<tr>
			<td>
				Navigation: 
				<h:link value="Menue | " outcome="index.xhtml"></h:link>               	

				<h:link value="View Contacts | " outcome="viewContact.xhtml"></h:link>
				<h:link value="Add Contacts | " outcome="createContact.xhtml"></h:link>
				<h:link value="Add User | " outcome="addUser.xhtml"></h:link>
				   
				<h:link value="Manage User | " outcome="manageUser.xhtml"></h:link>    
				<h:link value="Change Password | " outcome="changePassWd.xhtml"></h:link>
				<h:link value="Manage Industry" outcome="manageIndustry.xhtml"></h:link>
				        	
			</td>
		</tr>
		</table>
		</div>
		
		
            <h:form id="MyForm">
            
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="cusId" value="cusId"  />
                            </td>
                            <td> 
                                <h:outputLabel id="Industry" value="Industry"  />
                            </td>
          
                            <td> 
                                <h:outputLabel id="companyName" value="companyName"/>
                            </td>
                            
                            <td> 
                                <h:outputLabel id="managedBy" value="managedBy"/>
                            </td>
                            
                     </tr>
                    
                    <ui:repeat id="Myrepeat" value="#{customerApplication.customers}"  var="customers" varStatus="status"> 
                        
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outPrice').textContent"> 
                            <td>
                                <h:outputText value="#{customerApplication.customers.get(status.index).cusId}" id="cusID" /> 
                                
                            </td>
                            
                            <td> 
                                <h:outputText id="Industry" value="#{customerApplication.customers.get(status.index).industry.industryName}"  />
                            </td>
                            <td>
                                <h:outputText id="companyName" value="#{customerApplication.customers.get(status.index).companyName}"></h:outputText>
                            </td>
                            <td>
                                <h:outputText id="managedBy" value="#{customerApplication.customers.get(status.index).managedBy.userName}"></h:outputText>
                            </td>
                            <td>
                                <h:link value="View | " outcome="detail.xhtml">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="cusID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="edit.xhtml">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="cusID" value="#{status.index + 1}"/>
                                </h:link>
                                
                                <h:commandLink value="Delete |" action="#{edit.removeCustomer(customerApplication.customers.get(status.index).cusId)}" >
                                </h:commandLink>
                                    
                                <h:outputText value=" "/>
                            </td>
                            <td>
                            	<h:link value="Allocate  " outcome="manageUser.xhtml">
                            	</h:link>
                            </td>
                            
                        </tr> 

                    </ui:repeat> 
                    

                </table>
                
                <div>
                    <h:commandButton value="ADD" action="createCustomer.xhtml"  />
                
          
                </div>
                <div>
                    <h:inputText value="#{search.cusId}" id="searchById" required="false" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   /> 
                    <h:commandButton id="searchId" value="Search Customer by Id" action="#{search.searchCustomerById(search.cusId)}" class="btn btn-primary" >
                        <f:param name="cusID" value="#{status.index + 1}"/>
                    </h:commandButton>
                    
                    
                    <h:selectOneListbox value="#{search.industry}" size="3" >
                                <f:selectItems value="#{customerApplication.getIndustryList()}" />
                            </h:selectOneListbox>
                    <h:commandButton id="searchIndus" value="Search Customer by Industry" action="#{search.searchCustomerByIndustry(search.industry)}" >
                        <f:param name="industry" value="#{status.index + 1}"/>
                    </h:commandButton>
                    
                    
                    <h:inputText value="#{search.cusName}" id="searchByName" required="false" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   /> 
                    <h:commandButton id="searchName" value="Search Customer by Name" action="#{search.searchCustomerByName(search.cusName)}"  >
                        <f:param name="industry" value="#{status.index + 1}"/>
                    </h:commandButton>
                    <h:commandButton action="#{customerApplication.searchAllCustomer()}" value="View All" />
                </div>
                
            </h:form>
        </div>
    </h:body>
</html>

